@import '../../styles/shared.scss';

.news-preview-side {
    display: grid;
    grid: 64px / 113px auto;
    grid-column-gap: 10px;
    overflow: hidden;

    .image-container{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .news-data{
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        &__title{
            font-size:12px;
            font-weight: 700;
            color: $primary-color;
            overflow: hidden;
            line-height: 1.2em;
            max-height: 3.6em;
            &:hover{
                cursor: pointer;
                color: $primary-color-hover;
            }
        }
        &__votes{
            font-size:14px;
            font-weight: 700;
            color: $secondary-color;
        }
    }
}