@import '../../../styles/shared.scss';

.ui.borderless.pointing.secondary.home-nav{
    background-color: $white;
    margin: unset;
    margin-top:4px;
    border:none;
    overflow: hidden;

    .item.title{
        font-weight: 700;
        font-size: 13px;
        color: $black;
    }
    .item:not(:first-child) {
        text-transform: lowercase;
        font-size: 13px;
        color: $grey;
        margin-left:5px;
        &:hover {
            cursor: pointer;
            color: $primary-color-hover;
            box-shadow: inset 0 -2px 0 $primary-color-hover;
        }
        &.active{
            border-bottom-color:unset;
            box-shadow: inset 0 -2px 0 $primary-color-hover;
            color:$primary-color-hover;
        }
    }
    .right.menu{
        .ui.icon.button{
            background-color: unset;
            border-radius: unset;
            color: $grey;

            &:hover{
                cursor: pointer;
                color: $primary-color-hover;
                box-shadow: inset 0 -2px 0 $primary-color-hover;
            }
            &.active{
                border-bottom-color:unset;
                box-shadow: inset 0 -2px 0 $primary-color-hover;
                color:$primary-color-hover;
            }
        }
    }
}