@import '../../styles/shared.scss';

.comment-preview-side {
    display: grid;
    grid: auto auto / 30px auto auto;

    .image-container {
        grid-row: 1 / span 2;
        grid-column: 1 / 2;
        .ui.image{
            &:hover{
                cursor: pointer;
            }
        }
    }
    .meta-data{
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        &__user{
            font-size: 12px;
            font-weight: 700;
            color: $grey;
            margin-right: 5px;
            &:hover{
                cursor: pointer;
            }
            &--one{
                color: $green;
            }
            &--two{
                color: $secondary-color;
            }
        }
        &__date{
            font-size: 12px;
            color: $grey;
            &:hover{
                cursor: pointer;
                color: $primary-color;
            }
        }
    }
    .votes{
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        font-size: 12px;
        font-weight: 700;
        color: $green;
        justify-self: end;
    }
    .comment{
        grid-row: 2 / 3;
        grid-column: 2 / span 2;
        font-size: 12px;
        color: $black;
        overflow: hidden;
        line-height: 1.2em;
        max-height: 7.2em;
    }
}