$HeaderNav-height: 50px;
$white: #ffffff;
$black: #000000;
$green: rgb(59, 145, 95);
$grey: rgb(149, 165, 166);
$primary-color:rgb(67, 131, 175);
$primary-color-active: #2e6e99;
$primary-color-hover: rgb(52, 73, 94);
$secondary-color: rgb(255, 89, 23);