.home-grid {
    display: grid;
    grid: auto / auto 320px;
    grid-column-gap: 10px;

    &__left{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    &__right{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}
