@import '../../styles/shared.scss';

.side-bar{
    margin-top: 4px;
    background-color: $white;
    padding:10px;

    &__recent-popular{
        & > *:not(:first-child) {
            margin-bottom:10px;
          }
    }
}